include partials/head

html
    head
        title Login Node - Login
        +cdns()    
    body.login
        .container
            .col-6.mx-auto
                .card.mt-5
                    .card-body
                        h1.text-center
                            span.fa.fa-sign-in.pr-2
                            .
                                Login

                        if(message>0)
                            .alert.alert-danger
                                message

                        form(action='/login' method='post')
                            .form-group
                                label(for='email') Email
                                input(type='email' name='email').form-control

                                label(for='password') Password
                                input(type='password' name='password').form-control

                                input(type='submit' value='Enviar').btn.btn-dark.btn-lg.mt-3
                        hr
                        .text-center
                            p
                                .
                                    Need an account? 
                                a(href='/signup') Signup 
                                | or go 
                                a(href='/') Home